
@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    font-size: 1.5rem;
}

section{
    padding-bottom: 0.5rem;
}
h1{
    padding-top: 2rem;
    color:brown;
    margin-bottom: 0.8rem;
}

.container{
    border: 2px solid black;
    width:50vw;
    margin: auto;
    padding: 1rem;
    padding-bottom: 0.5rem;
    background-color: #BFDBFE;

}
label{
    display: block;
    margin-bottom: 0.8rem;
    font-weight: 650;
    text-align: center;
    color:green;
    padding-top: 1rem;
    font-size: 2rem;
    margin-top: 0.8rem;
}

input{
    display: block;
    margin:auto;
    width: 20.3rem;
    margin-top: 0.2rem;
    padding: 1rem;
    font-size: large;
    border-radius: 14px;
}

.privacy{
    font-size: 1.7rem;
    color: white;
    background-color: black;
    width: 30vw;
    margin: auto; 
    padding: 0.3rem;
    border-radius: 7px;   
}

button{
    font-size: 1.5rem;
    background-color:#EF4444;
    color: aliceblue;
    margin:auto;
    padding: 0.5rem;
    margin-top: 1rem;
    border: 2px solid white;
    border-radius: 7px;
}

#output{
    font-size: 2rem;
    padding: 1.2rem;
    font-weight: 600;
    color: blue;
    
    
}

footer{
    text-align: center;
    background-color:#6B7280; 
    
}

p{
    font-size: 2rem;
    color:white;
    font-family: 'Merienda', cursive;
    padding: 0.8rem;
}

img{
    height: 2rem;
    width: 2rem;
    margin: 0.2rem;
    box-shadow:0px 0px 10px 0px black;
}

img:hover{
    background-color: blue;
}

@media (min-width: 768px) and (max-width: 1199.98px){
    body {
      background-color: lightpink;
    }
  }